---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/exchangerate/USD?apikey=E3AAFD83-2A6C-49A3-A07B-B1CFEEF4F221&invert=true&output_format=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Concurrencylimit-Limit:
      - '1'
      X-Concurrencylimit-Remaining:
      - '1'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Request-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_id_base": "USD",
          "rates": [
            {
              "time": "2024-03-22T15:01:44.0000000Z",
              "asset_id_quote": "AAVE",
              "rate": 115.66823247902952673815378238
            },
            {
              "time": "2024-03-22T15:01:44.0000000Z",
              "asset_id_quote": "ACH",
              "rate": 0.035207467071080482946206853
            },
            {
              "time": "2024-03-22T15:01:44.0000000Z",
              "asset_id_quote": "AGLD",
              "rate": 1.3401226283129164937639631295
            },
            {
              "time": "2024-03-22T15:01:44.0000000Z",
              "asset_id_quote": "AL[...]
