---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/exchangerate/USD?apikey=E3AAFD83-2A6C-49A3-A07B-B1CFEEF4F221&invert=true&output_format=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Concurrencylimit-Limit:
      - '1'
      X-Concurrencylimit-Remaining:
      - '1'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Request-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "asset_id_base": "USD",
          "rates": [
            {
              "time": "2024-03-22T14:46:42.0000000Z",
              "asset_id_quote": "$ADS",
              "rate": 0.1951577652682806118907883636
            },
            {
              "time": "2024-03-22T14:46:42.0000000Z",
              "asset_id_quote": "$BTH",
              "rate": 0.0111747714560582019717574801
            },
            {
              "time": "2024-03-22T14:46:42.0000000Z",
              "asset_id_quote": "$BURN",
              "rate": 0.0000141239930554789134195258
            },
            {
              "time": "2024-03-22T14:46:42.0000000Z",
              "asset_id_quote": [...]
